<div class="flex">
  <div class="container">
    <ul class='footer--icons'>
      <li class="icon-facebook"><a href="https://www.facebook.com/dito.com.br">Facebook</a></li>
      <li class="icon-twitter"><a href="https://twitter.com/ditointernet">Twitter</a></li>
      <li class="icon-linkedin"><a href="https://www.linkedin.com/company/2599630?trk=tyah&trkInfo=tarId%3A1417707635128%2Ctas%3Adito%2Cidx%3A2-3-8">Linkedin</a></li>
      <li class="icon-google"><a href="http://dito.com.br/wp-content/themes/bootstrap-basic/assets/images/googleplus.png">Google Plus</a></li>
    </ul>
  </div>
</div>
<p class="text-center text-muted">© Copyright 2016 - Dito Internet</p>
