<div class="flex">
  <div class="container">
    <ul class='footer--icons'>
      <li class="icon-facebook"><a href="#">Facebook</a></li>
      <li class="icon-twitter"><a href="#">Feed</a></li>
      <li class="icon-linkedin"><a href="#">Instagram</a></li>
      <li class="icon-google"><a href="#">Pinterest</a></li>
    </ul>
  </div>
</div>
<p class="text-center text-muted">© Copyright 2016 - Dito Internet</p>
