<div class="main">
  <div class="container">
    <div class="flex">
      <div class="col col--12 main--header">
        <div class="title__header">Pacotes especiais despertando a força</div>
      </div>
    </div>
    <% include plans %>
    </div>
  </div>
</div>
