<div class="main">
  <div class="container">
    <div class="flex">
      <div class="col col--12 main--header">
        <div class="title__header">pacotes especiais despertando a força</div>
      </div>
    </div>
    <div id="pacotes" class="flex flex--center">
      <div class="col col--12 col__md--12 col__lg--4">
        <div class="content-block droid">
          <div class="block__content text-center">
            <figure class="block__image"><img src="images/droid.png" alt="Pacore Droid"></figure>
            <h2 class="content__title">Pacote Droid</h2>
            <p class="block__desc">
              Estamos Perdidos!
              beep? beep beep?!
              Bleep Blop Blep!
              Zeep zip smap
              Smap smeep!
            </p>
            <button class="md-trigger btn--assinar droid md-setperspective" data-modal="modal-droid">assinar</button>
          </div>
        </div>
      </div>
      <div class="col col--12 col__md--12 col__lg--4">
        <div class="content-block jedi">
          <div class="block__content text-center">
            <figure class="block__image"><img src="images/jedi.png" alt="Pacore Jedi"></figure>
            <h2 class="content__title">Pacote Jedi</h2>
            <p class="block__desc">
              Droid, por favor!
              Um-quarto de porção...
              O lixo vai servir!
              Fffkrrshhzz..
              Woom..woooom..
            </p>
            <button class="md-trigger btn--assinar jedi md-setperspective" data-modal="modal-jedi">assinar</button>
          </div>
        </div>
      </div>
      <div class="col col--12 col__md--12 col__lg--4">
        <div class="content-block wannabe">
          <div class="block__content text-center">
            <figure class="block__image"><img src="images/wannabe.png" alt="Pacore Wannabe"></figure>
            <h2 class="content__title">Pacote Wannabe</h2>
            <p class="block__desc">
              Você não pode
              realmente apreciar
              a marcha imperial
              sem ter ouvido
              no vinil.
            </p>
            <button class="md-trigger btn--assinar wannabe md-setperspective" data-modal="modal-wannabe">assinar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
