<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/modals %>

    <% include partials/header %>
    <main >
      <% include partials/yield %>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
    <div class="md-overlay"></div>
    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
    <script src="js/classie.js"></script>
    <script src="js/modalEffects.js"></script>
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
      $(document).ready(function() {
        $('.phone').mask('(00) 00000-0000');
      });
    </script>
    <script>
      (function(d,e,id){
        window.dito={};window._ditoTemp=[];
        dito.generateID=function(str){return'_dito_sha1_'+str;}
        var m=['init','identify','alias','unalias','track'],s=d.createElement('script'),
        x=d.getElementsByTagName(e)[0];s.type='text/javascript';s.async=true;s.id=id;
        s.src='//storage.googleapis.com/dito/sdk.js';x.parentNode.insertBefore(s,x);
        for(var i=0;i<m.length;i++){dito[m[i]]=function(i){
        return function(){_ditoTemp.push({methodName:m[i],params:arguments});}}(i)}
      })(document,'script','dito-jssdk');

      dito.init({
        apiKey: 'API_KEY'
      });
    </script>
    <script src="js/cssParser.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/identify.js"></script>
  </body>
</html>
