<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/dito %>
    
    <% include partials/modals %>

    <% include partials/header %>
    <main >
      <% include partials/yield %>
    </main>

    <footer>
      <% include partials/footer %>
    </footer>
    <div class="md-overlay"></div>
    <!-- classie.js by @desandro: https://github.com/desandro/classie -->
    <script src="js/classie.js"></script>
    <script src="js/modalEffects.js"></script>
    <script>
      // this is important for IEs
      var polyfilter_scriptpath = '/js/';
      $(document).ready(function() {
        $('.phone').mask('(00) 00000-0000');
      });
      // TODO: add sdk dito
    </script>
    <script src="js/cssParser.js"></script>
    <script src="js/jquery.mask.min.js"></script>
    <script src="js/identify.js"></script>
  </body>
</html>
